.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EA6262;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #3CB371;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3CB371;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch-pg {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch-pg input {
  display: none;
}

.slider-pg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EA6262;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-pg:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-pg {
  background-color: #00A0D2;
}

input:focus+.slider-pg {
  box-shadow: 0 0 1px #00A0D2;
}

input:checked+.slider-pg:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider-pg.round-pg {
  border-radius: 34px;
}

.slider-pg.round-pg:before {
  border-radius: 50%;
}

.switch-db {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch-db input {
  display: none;
}

.slider-db {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EA6262;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-db:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-db {
  background-color: #CCAF0B;
}

input:focus+.slider-db {
  box-shadow: 0 0 1px #CCAF0B;
}

input:checked+.slider-db:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider-db.round-db {
  border-radius: 34px;
}

.slider-db.round-db:before {
  border-radius: 50%;
}