#form_area {
    background-color:#FFFFFF;
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
}

#main-form {
    margin-left: 22px;
    margin-right: 22px;
}

td {
    width: 75%;
}

.tooltip {
   	display: inline;
    position: relative;
}
		
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 280px;
    font-size: 12px;
    line-height: 1.6;
}
	
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.active {
    color: #444;
    margin-bottom: -1px;
    box-shadow: none;
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fff;
}

.donate {
    background-color:#ffa000;
    color:#fff;
}

#progress, .successModal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    height: auto;
    padding-top: 5px;
    padding-right: 30px;
    padding-bottom: 5px;
    padding-left: 30px;
    border: 1px solid #3CB371;
    background-color: #fff;
    z-index: 1000;
    overflow: auto;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    -moz-border-radius: 15px; 
    -webkit-border-radius: 15px;
    box-shadow: 5px 5px 10px #cfcfcf;
    -moz-box-shadow: 5px 5px 10px #cfcfcf;
    -webkit-box-shadow: 5px 5px 10px #cfcfcf;
}