.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider,
.slider-pg,
.slider-tt,
.slider-misc {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #EA6262;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before,
.slider-pg:before,
.slider-tt:before,
.slider-misc:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #3CB371;
}

input:focus+.slider {
  box-shadow: 0 0 1px #3CB371;
}

input:checked+.slider-pg {
  background-color: #00A0D2;
}

input:focus+.slider-pg {
  box-shadow: 0 0 1px #00A0D2;
}

input:checked+.slider-tt {
  background-color: #009a7f;
}

input:focus+.slider-tt {
  box-shadow: 0 0 1px #009a7f;
}

input:checked+.slider-misc {
  background-color: #80C000;
}

input:focus+.slider-misc {
  box-shadow: 0 0 1px #80C000;
}

input:checked+.slider:before,
input:checked+.slider-pg:before,
input:checked+.slider-tt:before,
input:checked+.slider-misc:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */

.slider.round,
.slider-pg.round-pg,
.slider-tt.round-tt,
.slider-misc.round-misc {
  border-radius: 34px;
}

.slider.round:before,
.slider-pg.round-pg:before,
.slider-tt.round-tt:before,
.slider-misc.round-misc:before {
  border-radius: 50%;
}