name: Plugin asset/readme update

on:
  push:
    branches:
      - master
      
jobs:
  deploy:
    name: Update plugin and assets
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out Git repository
        uses: actions/checkout@master
        
      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@master
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          IGNORE_OTHER_FILES: true
